@font-face {
  font-family: "RajdhaniRegular";
  src: url('../font/Rajdhani-Regular.ttf');
}

@font-face {
  font-family: "RajdhaniMedium";
  src: url('../font/Rajdhani-Medium.ttf');
}

@font-face {
  font-family: "RajdhaniSemiBold";
  src: url("../font/Rajdhani-SemiBold.ttf");
}

@font-face {
  font-family: "RajdhaniBold";
  src: url("../font/Rajdhani-Bold.ttf");
}

@font-face {
  font-family: "RajdhaniLight";
  src: url("../font/Rajdhani-Light.ttf");
}

@font-face {
  font-family: "PlayFairDisplayRegular";
  src: url('../font/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: "PlayFairDisplayItalic";
  src: url('../font/PlayfairDisplay-Italic.ttf');
}


body {
  font-family: "RajdhaniSemiBold";
  background-color: #ffffff;
  font-size: 18px;
}
.pictoContainer {
  position: absolute;
  right: 145px;
  bottom: 60px;

}

.pictoImg {
  display: block;
  margin-bottom: 12px;
}
.strong{
  font-family: "RajdhaniBold";
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 30px 180px 0 180px;
}

.logo {
  height: 20px;
}

.listContainer {
  width: 700px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 370px;
}

.listItem {
  height: 25px;
  transition: all ease-out 0.2s;
  cursor: pointer;
}

.listLink {
  display: block;
  padding-top: 11px;
  transition: all ease-out 0.2s;
}

.listLink:hover {
  color: #39B590;
}
.listItem:hover>.miniDash{
  opacity: 1;
}

.miniDash {
  opacity: 0;
  margin-top: 6px;
  width: 35px;
  height: 4px;
  background: #39B590;
  margin: 5px auto ;
}

.langage{
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all ease-out 0.4s;
}
.lang {
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  padding-top: 11px;
  font-size: 12px;
  transition: all ease-out 0.4s;

}
.langage:hover>.lang {
  overflow: visible;
  transition: all ease-out 0.4s;

}
.langage:hover>.arrowContainer{
  transform: rotate(540deg);
  transition: all ease-out 0.4s;

}
.arrowContainer{

}
.langArrow{
  margin-top: 14px;
}
.hiddenLang {
  color: grey;
}

.fixedBg {
  background: url('../img/background2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100vh;
}

.first {
  position: relative;
  height: 100vh;
  z-index: 0;
}

.firstInfo {
  width: 508px;
  left: 615px;
  top: 277px;
  position: absolute;
}

.nameInfo {
  font-size: 70px;
  font-family: 'RajdhaniBold';
  line-height: 0.7;
  margin-bottom: 40px;
  color: #253031;
}

.textInfo {
  font-size: 13px;
  font-family: "RajdhaniMedium";
  margin-left: 130px;
  margin-bottom: 43px;
  color: #253031;
  line-height: 18px;
}

.calltoAction {
  width: 230px;
  height: 42px;
  overflow: visible;
  position: relative;
  display: flex;
}

.ctaFirst {
  margin-left: 110px;
}

.circle {
  width: 27px;
  height: 27px;
  border-radius: 27px;
  border: solid 6px #39B590;
  transition: all ease-in-out 0.2s;
}

.point {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #253031;
  left: 17px;
  top: 17px;
  position: absolute;
}
.linkName {
  position: absolute;
  left: 70px;
  top: 14px;
  transition: all ease-in-out 0.2s;
  font-size: 12px;
}

.calltoAction:hover>.circle {
  width: 33px;
  height: 33px;
  transform: translate(-3px, -3px);
}

.calltoAction:hover>.linkName {
  color: #253031;
  transform: translateX(8px);
}

.presentation {
  height: 100vh;
  background-color: #ffffff;
}

.container {
  padding: 0 130px;
}

.textPresentationContainer {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentationTitle {
  font-size: 30px;
  font-family: "RajdhaniBold";
  margin-bottom: 80px;
  color: #253031;
}

.dash {
  height: 4px;
  width: 52px;
  background: #51CACE;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 50px;
}

.presentationEthymologie {
  font-family: "PlayFairDisplayItalic";
  color: #838383;
  font-size: 14px;
  margin-bottom: 40px;
}

.presentationText {
  font-family: "RajdhaniRegular";
  line-height: 18px;
  margin-bottom: 54px;
  font-size: 13px;
}

.ctaPresentation {}

.imgPresentationContainer {
  float: right;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.imgPresentation {
  width: 100%;
}

.news {
  clear: both;
  display: flex;
  width: 100%;
  background-color: #f2efea;
}

.meteo {
  float: left;
  width: 50%;
  background: url('../img/nasa.png') rgba(255, 255, 255, 1);
  background-size: cover;
  box-sizing: border-box;
  align-self: center;
  height: 100%;
}

.meteoLast {
  margin-bottom: 44px;
}

.meteoIcon {}

.meteoImgContainer {
  float: left;
  margin-top: 30px;
  margin-left: 50px;
}

.degre {
  display: block;
  font-size: 35px;
  font-family: "RajdhaniMedium";
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.meteoTitle {
  font-size: 30px;
  font-family: "RajdhaniBold";
  margin-bottom: 45px;
  color: #253031;
  margin-top: 50px;
}

.meteoText {
  line-height: 18px;
  font-size: 13px;
  color: #253031;
  font-family: "RajdhaniMedium";
}

.ctaNews {
  margin-bottom: 40px;
}

.meteoLast {
  margin-top: 35px;
}

.meteoInfoContainer {
  width: 460px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}

.meteoInfoText {
  width: 200px;
  height: 60px;
  float: right;
  margin-right: 56px;
  margin-top: 70px;
  font-family: "RajdhaniMedium";
  font-size: 13px;
  line-height: 18px;
  line-height: 1.3;
  color: #253031;
}

.actualites {
  float: right;
  width: 50%;
}

.actuTitle {
  margin-top: 50px;
  font-size: 30px;
  font-family: "RajdhaniBold";
  margin-bottom: 44px;
  color: #253031;
}

.articleThumh {
  float: left;
  width: 200px;
}

.articleCategory {
  font-family: "RajdhaniSemiBold";
  font-size: 15px;
  color: #253031;
  padding-bottom: 17px;
}

.date {
  color: #39B590;
}

.articleContent {}

.middle {
  margin: 67px 0;
}

.articleTitle {
  font-family: "RajdhaniSemiBold";
  font-size: 15px;
  color: #253031;
}

.articleInfo {
  float: right;
  width: 238px;
  margin-left: 20px;
  position: relative;
  height: 111px;
}

.articleDesc {
  font-family: "RajdhaniRegular";
  font-size: 12px;
  margin-top: 17px;
  line-height: 18px;
}

.articleLink {
  position: absolute;
  font-family: "RajdhaniBold";
  font-size: 12px;
  color: #39B590;
  bottom: 0px;
}

.ctaActu {
  margin-top: 25px;
}

.lifestyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

.lifestyleTitle {
  font-size: 60px;
  font-family: "RajdhaniBold";
  margin: 77px 0 43px 0;
  text-align: center;
}

.lifestyleLine {
  width: 60px;
  align-self: center;
  border-top: 5px solid #51cace;
  margin-bottom: 47px;
}

.lifestyleText {
  align-self: center;
  width: 752px;
  font-family: 'RajdhaniRegular';
  line-height: 1.67;
  text-align: center;
  color: #253031;
  margin-bottom: 120px;
}

.lifestyleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

.lifeStyleContainer2 {
  display: flex;
  flex-direction: column;
}

.lifestyleImgContainer {}

.lifestyleImg {
  width: 440px;
}

.lifestyleArticleTextContainer {
  margin-top: 50px;
  align-self: center;
  width: 440px;
}

.lifestyleArticleBold {
  font-size: 20px;
  font-family: "RajdhaniBold";
  color: ##253031;
}

.lifestyleArticleText {
  font-family: "RajdhaniMedium";
  margin-top: 30px;
  line-height: 24px;
  color: ##253031;
}

.reservation {
  background: url('../img/bg_section5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  height: 100vh;
}

.reservationTitle {
  align-self: center;
  text-align: center;
  font-size: 30px;
  font-family: "RajdhaniBold";
  color: #ffffff;
  width: 482px;
  margin-top: 120px;
}

.reservationLine {
  width: 60px;
  border-top: 5px solid #ffffff;
  text-align: center;
  margin-left: calc(50% - 30px);
  margin-top: 50px;
}

.reservationText {
  margin-top: 43px;
  text-align: center;
  font-family: "RajdhaniMedium";
  font-size: 15px;
}

.textBeforeSponsors {
  margin-top: 130px;
  text-align: center;
}

.footer {
  background-color: #535758;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

.footerContainer {
  width: 920px;
  margin-left: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerListContainer {
  width: 305px;
  line-height: 36px;
}

.footerListItem {
  font-family: "RajdhaniRegular";
  color: #ffffff;
}

.credit {
  color: #ffffff;
  margin-top: 180px;
  text-align: center;
  font-family: "RajdhaniRegular";
}

.names {
  text-decoration: underline;
  font-family: "RajdhaniSemiBold";
  cursor: pointer;
}

.sponsorsImgContainer {
  width: 1038px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: calc(50% - 519px);
}

.ctaResa {
  margin-left: calc(50% - 115px);
  margin-top: 90px;
}

.ctaResa>.point {
  background: #fff;
}

.ctaResa:hover>.linkName {
  color: #fff;
}

.ascenseurItem {
  position: fixed;
  border-radius: 50%;
  padding: 5px;
  background-color: #253031;
  left: 40px;
  transition: background-color 0.5s ease;
}

.pointAccueil {
  top: 35vh;
}

.pointPresentation {
  top: 40vh;
}

.pointNews {
  top: 45vh;
}

.pointLifestyle {
  top: 50vh;
}

.pointReservation {
  top: 55vh;
}

.first:hover .pointAccueil {
  background-color: #39b590;
}

.presentation:hover .pointPresentation {
  background-color: #39b590;
}

.news:hover .pointNews {
  background-color: #39b590;
}

.lifestyle:hover .pointLifestyle {
  background-color: #39b590;
}

.reservation:hover .pointReservation {
  background-color: #39b590;
}
